@use '@styles/abstract/mixins' as mixins;
@use '@styles/abstract/constants' as constants;

.loader {
  @include mixins.loader-color(constants.$color-primary, constants.$color-light);
  border-style: solid;
  border-radius: 50%;
  transform: rotate(215deg);
  animation: loader 2s linear infinite;
  // margin-top: 5px;
  // margin-left: 5px;
}

.loader_size-l {
  @include mixins.loader-size(60px, 6px);
}

.loader_size-m {
  @include mixins.loader-size(40px, 4.5px);
}

.loader_size-s {
  @include mixins.loader-size(20px, 3px);
}

@keyframes loader {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

// .loader__wrapper {
//   height: 50vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // @include mixins.center-items();
//   width: 100%;
//   height: 100%;
//   background-color: constants.$color-light;
//   transition: 0.5s;
// }
