@use '@styles/abstract/mixins' as mixins;
@use '@styles/abstract/constants' as constants;

.recipeInfoItem {
  display: flex;
  align-items: center;

  &__img {
    width: 14px;
    height: 12px;
  }

  &__text {
    @include mixins.font($size: 1.4rem, $height: 1.9rem, $weight: 400);
    color: constants.$color-text-additional;
    opacity: 0.3;
    padding-left: 15px;
    letter-spacing: 0.5px;
  }
}
