@use '@styles/abstract/mixins' as mixins;
@use '@styles/abstract/constants' as constants;

.button {
  @include mixins.transition();
  @include mixins.font($size: 1.8rem, $height: 2.5rem, $weight: 500);
  @include mixins.center-items();
  color: constants.$color-light;
  background-color: constants.$color-primary;
  border-radius: constants.$border-radius-primary;
  border: none;
  padding: 8px 15.5px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.button_disabled {
  background-color: constants.$color-background-button-disabled;
  margin-left: 4px;

  &:hover {
    opacity: 1;
  }
}

.loader_disabled {
  @include mixins.loader-color(constants.$color-light, transparent);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 9px;
}
