@use '@styles/abstract/constants' as constants;
@use '@styles/abstract/mixins' as mixins;
@use '@styles/layouts/wrapper';

.detailRecipe {
  position: relative;

  &__img {
    max-width: 100%;
    align-self: center;
  }

  &__line {
    height: 5px;
    width: 58px;
    border-radius: 12px;
    margin: 0 auto 25px;
    background-color: constants.$color-line;
  }

  &__title {
    width: 296px;
    padding-top: 13px;
    margin-bottom: 16px;
  }

  &__recipe-info {
    display: flex;
    gap: 30px;
  }

  &__summary,
  &__ingredients {
    @include mixins.font($size: 1.2rem, $height: 180.52%, $weight: 500);
    margin: 25px 0;
  }

  &__ingredients {
    padding-left: 17px;

    li {
      list-style: disc;
    }
  }

  &__instructions {
    @include mixins.font($size: 1.2rem, $height: 180.52%, $weight: 500);
  }
}

.detailRecipe__wrapper-mask {
  background-color: constants.$color-light;
  position: relative;
  z-index: 300;
  top: -104px;
  padding-top: 18.5px;
  border-radius: constants.$border-radius-primary;
}

.detailRecipe__wrapper-content {
  padding: 0 16px 5px 33px;
}

.button__return {
  @include mixins.square(45px);
  z-index: 10;
  position: absolute;
  left: 18px;
  top: 38px;
  padding: 14px 18p x;
  opacity: 0.5;
  background-color: constants.$color-background-button-return;
}
