@use '@styles/abstract/constants' as constants;
@use '@styles/layouts/wrapper';

.detailRecipe {
  position: relative;
}

.detailRecipe__wrapper-mask {
  background-color: constants.$color-light;
  position: relative;
  z-index: 300;
  top: -104px;
  padding-top: 18.5px;
  border-radius: constants.$border-radius-primary;
}

.detailRecipe__wrapper-content {
  padding: 0 16px 5px 33px;
}
