$color-primary: #ff0000;
$color-text-primary: #717171;
$color-text-additional: #3b3b3b;
$color-background: #f5f5f5;
$color-dark: #000000;
$color-light: #ffffff;
$color-line: #ffcbcb;

$color-title-h1: #09051c;
$color-title-h2: #0d0d0d;

$color-background-button-return: #ffe6e6;
$color-background-button-disabled: #d9d9d9;

$color-card-title: #0d0d0d;
$color-card-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
$color-card-shadow-hover: 0px 4px 4px rgba(0, 0, 0, 0.25);

$color-background-element: linear-gradient(98.81deg, #fff0f0 -0.82%, #ffdfdf 101.53%);
$color-background-element-focus: linear-gradient(98.81deg, #ffbcbc -0.82%, #ffa1a1 101.53%);
$color-background-element-disabled: linear-gradient(98.81deg, #f2f2f2 -0.82%, #d9d9d9 101.53%);

$color-dropdown: #fff7f7;
$color-selected: #ffe5e5;

$color-checkbox-checked: #ff5555;
$color-background-checkbox-hover: linear-gradient(98.81deg, #ffdfdf -0.82%, #ffa2a2 101.53%);

$border-radius-primary: 7px;
$border-radius-additional: 10px;

$content-width: 375px;
